<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </Root>
        <Root level="INFO">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </Root>
    </Loggers>
</Configuration>